<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="form-group">
        <input 
            class="form-control"
            type="text" 
            name="username" 
            placeholder="Username"
            [(ngModel)]="model.username" >
    </div>
    <div class="form-group">
      <label>Who is your favourite user ?</label>
      <select class="form-control">
          <option *ngFor="let user of usersFromHome" [value]="user.userName">
              {{user.userName}}
          </option>
      </select>
    </div>
    <div class="form-group">
        <input 
            class="form-control"
            type="password" 
            name="password" 
            placeholder="Password"
            [(ngModel)]="model.password" >
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2"  type="submit">Sign Up</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>